// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Main body background
body {
  background: url(/images/main-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

// Background overlay
.dot-matrix {
  background: url(/images/dot.png);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1
}
